<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadasttro de clientes</title>
    <link rel="stylesheet" href="css/style.css">
   
</head>
<body>
    <div class="container">
        <input type="checkbox" id="password-sw">

        <div class="login">
            
            <div class="usersenha">
                <div class="ipt-login">
                    <div class="form__group field">
                        <input type="input" class="form__field" placeholder="" required="" id="user">
                        <label for="user" class="form__label">Usuario</label>
                    </div>
                    <div class="form__group field">
                        <input type="password" class="form__field" placeholder="" required="" id="senha">
                        <label for="senha" class="form__label">Senha</label>
                        <div class="switch-pw">
                            <label for="password-sw">
                                <img id="lswitch-pw" src="img/senha-aberta.svg" width="45px">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="submit">
                <div class="ipt-submit">
                    <a class="btn" href="clientes.html">Login</a>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="javascript/script.js"></script>
</html>