<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Novo Cliente</title>
</head>

<body>
  <form action="" method="post">
    <input type="text" name="nome" id="">
    <input type="text" name="telefone" id="">
    <input type="date" name="data_atendimento" id="">
    <select name="selection" id="">
      <option value="Plano">Plano</option>
      <option value="Avulso">Avulso</option>
    </select>
    <input type="submit" name="Submit">

  </form>
</body>

</html>